<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <h1>500 Server Error</h1>
      <p>The resource could not be found</p>
      <a href="/dashboard" class="btn">Go to dashboard</a>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
