<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h2>Dashboard</h2>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
