<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header class="mb-2">
      <%- include('../partials/header.ejs') %>
    </header>

    <main class="container">
      <div class="jumbotron">
        <h2 class="text-center">EJS scaffold</h2>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
